
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
  <title>hungry academy</title>
  <link href="/stylesheets/base.css?1369930751" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/layout.css?1369930751" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/skeleton.css?1369930751" media="screen" rel="stylesheet" type="text/css" />
  <meta name="csrf-param" content="authenticity_token"/>
  <meta name="csrf-token" content="GraKrB0H4rOTub64TYtqmVKaY5FCMSkhWtQbZLpW8ec="/>
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/controls.js" type="text/javascript"></script>
  <script src="/javascripts/rails.js" type="text/javascript"></script>

  <link href="/favicon.ico?1369930751" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body>
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Ruby Rails Code academy powered by swasst</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

  <!-- JS
  ================================================== -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="javascript/jquery.raptorize.1.0.js"></script>

  <!-- For the Konami Code version -->
  <script type="text/javascript">
      $(window).load(function() {
          $('.btn').raptorize({
              'enterOn' : 'konami-code'
          });
      });
  </script>

</head>
<body>



<!-- Primary Page Layout
================================================== -->

<!-- Delete everything in this .container and get started on your own site! -->

<div class="container">
  <header class="sixteen columns">
    <a href="#" class="btn" style="display: none;">Click me</a>
    <h1>Hungry Academy</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="">Articles</a>
        </li>
        <li>
          <a href="about_us" > About Us</a>
        </li>
        <li>
          <a href="" >Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="fifteen columns content contact">
    <div class="nine columns contact ">
      <%= image_tag("contact.jpg", :width => 850, :height => 150,:crop => :scale, :radius => 10) %>
    </div>

    <div class="six columns twitter offset-by-one">
      <a href="https://www.facebook.com/pages/Ruby-on-Rails-Academy/435773189907379"><%=image_tag "template_facebook_icon.png" %></a>
      <a href="mailto:rubyonrails.academy@gmail.com"><%= image_tag "template_email.jpg"%></a>
    </div>
  </div>

  <div class=" footer sixteen columns" align="right">
    <p>
      Thanks to <a href ="http://hungryacademy.com"> hungryacademy.com </a> powered by livingsocial & jumpstartlab for the site template
    </p>
  </div>

</div><!-- container -->


<!-- End Document
================================================== -->
<script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ef1e088613f5d7bde000002');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>

</body>
</html>

</body>
</html>
